 #info {

    text-align : right;
    margin: 0;
    font-size: 15px;}

ion-button{

    margin-left: 25%;
    margin-right: 25%;
    width: 180px;
    font-weight: 700;
}

img{

    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size:20px;
}

#Collected{

    font-size: 20px;
    color: #666666;
    text-align: right;
    margin: 0 25px;


}

#Target{

    font-size: 20px;
    color: #0cd1e8;
    text-align: right;
    margin: 0 25px;
}

ion-row{

    text-align: center;
    font-size: 35px;

}
