

<ion-content>
    <div class="ion-padding">

      <img src="../../assets/0.png">
      </div>

  <div class="ion-padding">
    <p id="info">{{Info}}</p>
  </div>

  <div class="ion-padding">
    <p id="Target"> <strong> Target </strong><br> {{TargetAmount}}</p>
    <canvas #doughnutCanvas> </canvas>
    <p id="Collected" > <strong> Collected </strong> <br>{{CollectedAmount}}</p>
  </div>


 <ion-button (click)="SendSms()">
    Donate
    <ion-icon ios="ios-heart" md="md-heart"></ion-icon>
  </ion-button>
  
  <ion-row >
      <ion-col size="2"  offset="3">
          <ion-icon  (click)="shareWithFacebook()" style="color:#0057ef"ios="logo-facebook" md="logo-facebook"></ion-icon>
        </ion-col>
      <ion-col size="2" >
          <ion-icon (click)="shareWithTwitter()" style="color:#24d6ea" ios="logo-twitter" md="logo-twitter"></ion-icon>
        </ion-col>
      <ion-col size="2" >
          <ion-icon (click)="shareNative()" style="color: #3880ff" ios="ios-share-alt" md="md-share-alt"></ion-icon>
        </ion-col>
    </ion-row>

    

</ion-content>
